.container {
  border: 5px solid #8e44ad;
  background-color: #f4ecf7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.container-2 {
  margin-top: 100px;
  border: 5px solid #8e44ad;
  background-color: #f4ecf7;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.item {
  border: 5px solid #c0392b;
  background-color: #f9ebea;
  font-size: 2rem;
}
